.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
}

.items__per__page__input {
  width: 60px;
  border-color: crimson;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

.items__per__page__input:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}