.single__card {
  width: 95%;
  margin: 0 auto;
  background: white;
  /* height: 250px; */
}

.img__container {
  display: flex;
  height: 130px;
}

.img__container img {
  width: 50%;
  margin: 0 auto;
}

p {
  font-size: 0.8em;
}